.header {
  background-color: #ffffff;
  width: 100%;
  z-index: 1;
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
}

.main-nav {
  flex-grow: 1;
}

.header-nav {
  display: flex;
  column-gap: 40px;
  margin-left: 76px;
  margin-right: 340px;
  display: none;
}

.header-logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.header-link-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 24px;
  padding-bottom: 24px;
  display: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.logo {
  text-transform: uppercase;
  color: #2e2f42;
}

.active-link {
  color: #404bbf;
}

.active-link::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  display: block;
  position: absolute;
  bottom: 0;
}

.burger-menu {
  background-color: transparent;
  border: none;
  fill: #2e2f42;
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
  padding: 0 0;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    margin-right: 129px;
    margin-left: 120px;
  }

  .address-link {
    display: block;
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .header-adress {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
  }
}

@media screen and (min-width: 1158px) {
  .header-nav {
    margin-left: 76px;
    margin-right: 340px;
  }
  .header-adress {
    flex-direction: row;
    column-gap: 40px;
    justify-content: end;
  }

  .address-link {
    display: block;
    padding: 16px 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}
