.hero {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url(../images/hero-bg-m.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  max-height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

.hero-container {
  justify-content: center;
  padding: 0 52px;
}

.hero-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  padding-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  border: 0;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(/images/hero-bg-m@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(/images/hero-bg-t.jpg);
    max-width: 768px;
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 36px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image:
        linear-gradient(
          180deg,
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 100%
        ),
        url(/images/hero-bg-t@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(/images/hero-bg.jpg);
    min-height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-main-title {
    padding-bottom: 48px;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image:
        linear-gradient(
          180deg,
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 100%
        ),
        url(/images/hero-bg@2x.jpg);
    }
  }
}
